.container-projetos{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.titulo-interno{
    color: #ffbb00;
}

.cards-projetos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card-projeto{
    flex-basis: calc(50% - 10px);
    height: 370px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.projeto-imagem{
    position: absolute;
    width: auto;
    height: 100%;
    transition: transform 0.4s ease-in-out;
}

.figcaption-projeto{
    position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #000000cc, transparent);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        padding: 10px;
        text-align: center;
        transform: translateY(115%);
        transition: transform 0.4s ease-in-out;
        backdrop-filter: blur(5px);
}

.card-projeto:hover .figcaption-projeto{
    transform: translateY(1%);
}

.projetos{
    color: black;
}